* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --maincolor: #7b5244;
}
header .div1{
    position: relative;
    width: 80%;
    margin: 50px auto;
   display: flex;
  justify-content: space-between;
  align-items: center;
}

header .div1 img {
    height: 35px;
} 

header .div1  .list {
    display: flex;
  justify-content: space-between;
  align-items: center;

}
header .div1 .list li { 
list-style: none;
margin-right: 40px;
}
header .div1 .list li a {
    text-decoration: none;
    color: var(--maincolor);
    font-weight: bold;
    font-size: 19px;
}

header .div1 .icons {
    font-size: 28px;
   
margin-right: 25px;
word-spacing: 20px;
}
header .div1 span {
    font-size: 18px;
    font-weight: bold;
}

.section1 .div1 {
    wi
}