/* Start variables */
:root {
    --maincolor: #7b5244;
    --subcolor: #333;
}
/* End variables */
/* Start Global Rules   */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    perspective: 700px;
     
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */

@media(min-width: 768px) {
    .container {
       width: 750px;
    }
}

/* Medium */

@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large  */

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules   */
/* Start Header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    transform-style: preserve-3d;
 }
 header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
 header nav ul {
    display: flex;
  
}
header nav ul li a {
     position: relative;
    display: block;
    color: var(--maincolor);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 50px 0px;
    margin-right: 50px;
    transform-style: preserve-3d;
}

header nav ul li a::before {
    position: absolute;
    content: "";
     left: 0;
     right: 0;
     width: 95%;
     height: 100%;
     transition: .2s;
     border-width: 0px 2px;
     border-color: var(--maincolor);
     bo
}

 /* header nav ul li a::before ,
 header nav ul li a::after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
    border-color: var(--maincolor);
}  
header nav ul li a::before {
    border-color: var(--maincolor);
       border-width: 0 2px;
    height: 100%;
    width: 95%;
    transform: scale3d(1,0,1);
}

header nav ul li a::after {
    border-color: var(--maincolor);
    border-width: 2px 0;
    height: 91%;
    width: 98%;
    transform: scale3d(0,1,1);
    transform-origin: left;
} */

header nav .icons {
    font-weight: bold;
    font-size: 28px;
   word-spacing: 10px;
   margin-right: 10px;
}
header nav .icons .i3::after {
    position: absolute;
    content: "0";
    background-color: #7b5244;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
    font-size: 15px;
    bottom: 40px;
    right: 75px;
 
}
/* End Header */


/* Start section 1 */
.section1 .container {
    width: 80%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    
}
.section1 .container img{
 width: 100%;
}
/* End section 1 */


/* Start Section 2 */
.section2 .container {
    width: 80%;
    position: relative;
}
.section2 .container .div {
    margin: 30px auto;
}
.section2 .container .specail {
    text-align: center;
    font-size: 30px;
}
.section2 .container .line {
 position: relative;
}
.section2 .container .line::before {
    content: "";
    position: absolute;
    width: 8%;
    height: 2px;
    background-color: var(--maincolor);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 15px 0;
    transition: .5s;
}
.section2 .container .div:hover  .line::before {
    content: "";
    position: absolute;
    width: 13%;
    height: 2px;
    background-color: var(--maincolor);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 15px 0;
}
.section2 .container .parent1 {
    width: 80%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px;
   grid-gap: 150px 100px;
}
.section2 .container .parent1 img {
    width: 290px ;
    height: 290px;
    margin-bottom: 30px;
}
.section2 .container .parent1 p {
    color: gray;
    font-size: 15px;
}
.section2 .container .parent1 h3 {
    font-size: 17px;
}
.section2 .container .parent1 .div1,
.section2 .container .parent1 .div2,
.section2 .container .parent1 .div3,
.section2 .container .parent1 .div4 {
    position: relative;
}
.section2 .container .parent1 .div1:hover::before {
position: absolute;
content: " > ";
width: 30px;
height: 30px;
background-color: brown;
color: white;
text-align: center;
font-size: 25px;
top: 330px;
left: 260px;
}
.section2 .container .parent1 .div2:hover::before {
    position: absolute;
    content: " > ";
    width: 30px;
    height: 30px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 25px;
    top: 330px;
    left: 260px;
}
.section2 .container .parent1 .div3:hover::before {
    position: absolute;
    content: " > ";
    width: 30px;
    height: 30px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 25px;
    top: 330px;
    left: 260px;
    }
.section2 .container .parent1 .div4:hover::before {
    position: absolute;
    content: " > ";
    width: 30px;
    height: 30px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 25px;
    top: 330px;
    left: 260px;
    }
    .section2 .container .parent1 .div5 {
        width: 590px;
        height: 300px;
        position: relative;
        background-color: #f7f3ef;
        padding: 20px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .section2 .container .parent1 .div5 .comma {
       font-size: 50px;
       color: var(--maincolor);
    }
    .section2 .container .parent1 .div5 h2 {
        display: inline-flex;
    }
    .section2 .container .parent1 .div5 span {
        display: block;
        margin-left: 55px;
    }
    .section2 .container .parent1 .div5 p {
        margin: 10px;
        color: black;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 1.1px;
    }
    .section2 .container .parent1 .div5::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: var(--maincolor);
        bottom: 20px;
        right: 10px;

    }
    .section2 .container .parent1 .div5::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: var(--maincolor);
        bottom: 20px;
        right: 80px;

    }
    .section2 .container .parent1 .div5 .child::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: var(--maincolor);
        bottom: 20px;
        right: 150px;

    }
    .section2 .container .parent1 .div7 {
        width: 280px;
        height: 300px;
        position: relative;
        background-image: url(../images/cms-banner-1.jpg);
        background-size: cover;
        margin-left: 10px;
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        transition: .5s;
    }

    .section2 .container .parent1 .div8 {
        width: 280px;
        height: 300px;
        position: relative;
        background-image: url(../images/cms-banner-2.jpg);
        background-size: cover;
        margin-left: 10px;
        grid-column: 4 / 5;
        grid-row: 2 / 5;
        transition: .5s;
    }
    .section2 .container .parent1 .div7 p, 
    .section2 .container .parent1 .div8 p {
        padding-left: 20px;
        padding-top: 20px;
        font-size: 18px;
        color: var(--maincolor);
    }
    .section2 .container .parent1 .div7 h2, 
    .section2 .container .parent1 .div8 h2 {
        padding-left: 20px;
    }
    .section2 .container .parent1 .div7:hover, 
    .section2 .container .parent1 .div8:hover
    {
        /* width: 280px;
        height: 300px; */
        transform: scale( 1.1 , 1.1 );
    }
    .section2 .container .parent1 .parent2 {
         /* width: 80px;  */
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: -50px;
        margin-left: -150px;
    }
   

    .section2 .container .parent1 .parent2 .div1-1, 
    .section2 .container .parent1 .parent2 .div2-1, 
    .section2 .container .parent1 .parent2 .div3-1, 
    .section2 .container .parent1 .parent2 .div4-1, 
    .section2 .container .parent1 .parent2 .div5-1 {
        position: relative;
         margin-right: 140px;
         height: 100px;
     }
     .section2 .container .parent1 .parent2 .div1-1::before, 
     .section2 .container .parent1 .parent2 .div2-1::before, 
     .section2 .container .parent1 .parent2 .div3-1::before, 
     .section2 .container .parent1 .parent2 .div4-1::before  {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 50%;
        left: 60%;
        transform: translate(-50% , -50%);
        border-right: 1px solid var(--maincolor);
        
     }
      

     .section2 .container .parent1 .parent2 .div1-1 .icon1 {
        
        margin-left: -130px;
        background-position: center 5px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
       
     }
     .section2 .container .parent1 .parent2 .div1-1:hover .icon1{
        
        background-position: center  -85px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
     } 
     .section2 .container .parent1 .parent2 .div2-1 .icon2 {
        margin-left: -130px;
        background-position: center -180px ;
        transition: all .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
     }
     .section2 .container .parent1 .parent2 .div2-1:hover .icon2{
        
        background-position: center  -270px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
     } 
     .section2 .container .parent1 .parent2 .div3-1 .icon3 {
        margin-left: -130px;
        background-position: center -366px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
        
     }
     .section2 .container .parent1 .parent2 .div3-1:hover .icon3{
        
        background-position: center  -455px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
     } 

     .section2 .container .parent1 .parent2 .div4-1 .icon4 {
        margin-left: -130px;
        background-position: center -550px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
        
     }
     .section2 .container .parent1 .parent2 .div4-1:hover .icon4{
        
        background-position: center  -645px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
     } 
     .section2 .container .parent1 .parent2 .div5-1 .icon5 {
        margin-left: -130px;
        background-position: center -734px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
        
     }
     .section2 .container .parent1 .parent2 .div5-1:hover .icon5 {
        background-position: center -830px;
        transition: .5s;
        background-image: url(../images/service-icon.png);
        height: 55px;
        background-repeat: no-repeat;
        
     }
   
    .section2 .container .parent1 .parent2 .div1-1 .content-div1 , 
    .section2 .container .parent1 .parent2 .div2-1 .content-div2 , 
    .section2 .container .parent1 .parent2 .div3-1 .content-div3 , 
    .section2 .container .parent1 .parent2 .div4-1 .content-div4 , 
    .section2 .container .parent1 .parent2 .div5-1 .content-div5   {
       text-align: center;
          width: 130px;
         margin-left: -40px; 

    }
    
    .section2 .container .parent1 .parent2 .div1-1 h3,
    .section2 .container .parent1 .parent2 .div2-1 h3,
    .section2 .container .parent1 .parent2 .div3-1 h3,
    .section2 .container .parent1 .parent2 .div4-1 h3,
    .section2 .container .parent1 .parent2 .div5-1 h3 {
        margin-left: -90px;
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }
    .section2 .container .parent1 .parent2 .div1-1 span ,
    .section2 .container .parent1 .parent2 .div2-1 span ,
    .section2 .container .parent1 .parent2 .div3-1 span  ,
    .section2 .container .parent1 .parent2 .div4-1 span ,
    .section2 .container .parent1 .parent2 .div5-1 span  {
        margin-left: -80px;
        color: gray;
        font-size: 14px;
    }
    .section2 .container .parent1 .parent2 img { 
        margin-left: -20px;
        width: 55px;
        height: 80px;
    }
    .section2 .container .parent1 .line2::after {
        position: absolute;
        content: "";
         background-color: var(--maincolor);
         border-bottom: 1px solid var(--maincolor);
        width: 98%;
        bottom: 20px;
        margin-bottom: 60px;
    } 

/* End Section 2 */

/* Start Section 3*/

.section3 .container {
    width: 80%;
    position: relative;
}
.section3 .container .div {
    margin: 10px auto;
}
.section3 .container .specail {
    text-align: center;
    font-size: 30px;
}
.section3 .container .line {
 position: relative;
}
.section3 .container .line::before {
    content: "";
    position: absolute;
    width: 8%;
    height: 2px;
    background-color: var(--maincolor);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 15px 0;
    transition: .5s;
}
.section3 .container .div:hover  .line::before {
    content: "";
    position: absolute;
    width: 13%;
    height: 2px;
    background-color: var(--maincolor);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 15px 0;
}
.section3 .container .products {
    display: flex;
    justify-content: center;
}
.section3 .container .products li {
    margin: 30px 25px;
}
.section3 .container .parent3 {
    display: grid;
    grid-template-columns: 250px 250px 250px ;
    grid-template-rows: 250px 250px;
   grid-gap: 340px 180px;
}
.section3 .container .parent3 img {
    margin: 10px 0px;
    
}
.section3 .container .parent3  .div1 ,
.section3 .container .parent3  .div2 ,
.section3 .container .parent3  .div3 ,
.section3 .container .parent3  .div4 ,
.section3 .container .parent3  .div5 ,
.section3 .container .parent3  .div6  {
    position: relative;
    width: 380px;
    height: 580px;
}
.section3 .container .parent3 .overlay {
    position: relative;
}
.section3 .container .parent3 .overlay {
    
    position: absolute;
    visibility: hidden;
    transition: .5s;
    transform: scaleX(0);
    top: 0;
    left: 0;
    opacity: .9;
}
 
.section3 .container .parent3 .div1:hover .overlay {
 visibility: visible;
transform: scaleX(1);

 
}


.section3 .container .parent3 .div2:hover .overlay {
visibility: visible;
transform: scaleX(1);


}
.section3 .container .parent3 .div3:hover .overlay {
    visibility: visible;
    transform: scaleX(1);
    
    
    }
    .section3 .container .parent3 .div4:hover .overlay {
        visibility: visible;
    transform: scaleX(1);

    
    }
    .section3 .container .parent3 .div5:hover .overlay {
        visibility: visible;
    transform: scaleX(1);
    
    
    }
    .section3 .container .parent3 .div6:hover .overlay {
        visibility: visible;
    transform: scaleX(1);
    }
    
.section3 .container .parent3  .overlay   .lists  {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);


}
.section3 .container .parent3 .overlay .lists li {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
}
.section3 .container .parent3 .overlay .lists li i {
    line-height: 40px;
    font-size: 18px;
    color: white;
 
}
 
.section3 .container .parent3   .active ,  
.section3 .container .parent3   .active ,  
.section3 .container .parent3  .active ,  
.section3 .container .parent3   .active ,  
.section3 .container .parent3   .active   
 {
    
    color: yellow;
}
.section3 .container .parent3 .content-div6 .uncolor {
    
      background-color: white;
    color: black;
font-weight: 300;
}
.section3 .container .parent3 span {
    display: block;
    margin: 10px 0px;

}
.section3 .container .parent3 h3 {
    margin-bottom: 50px;
}
/* End Section 3*/